<div class="sidebar">
  <div class="avatar">
    <img src="{{ site.avatar }}" alt="{{ site.author }}" style="width: 100%; border-radius: 50%;">
  </div>
  <div class="about">
    <h2>About Me</h2>
    <p>I earned my Master's degree in Computer Science from the National University of Defense Technology in 2022. Following my graduation, I joined the Visual Intelligence Department at Meituan. My current work is centered on pioneering research in multi-modal understanding and the generation of images, videos, and 3D content.</p>
  </div>
</div>
